/*
Styles
*/
/* 
    Created on : 08/2020
    Author     : Jaime Montoya
*/


/* Selectors styles */ 

body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 18px;
}


/* Class styles */

.button-rounded{
    border-radius: 30px;
}


.text-introduction{
    color: #757575;
    font-weight: 500;
}


.div-form{
    border-radius: 10px 30px 30px 30px;
    -moz-border-radius: 10px 30px 30px 30px;
    -webkit-border-radius: 10px 30px 30px 30px;
    border: 0px solid #D8D8D8;
    
    -webkit-box-shadow: 10px 10px 14px 9px rgba(216,216,216,1);
    -moz-box-shadow: 10px 10px 14px 9px rgba(216,216,216,1);
    box-shadow: 10px 10px 14px 9px rgba(216,216,216,1);
}
